body{
    text-align: center;
}
h1, h2, h3, h4, h5, h6{

    font-family: 'Montserrat', sans-serif;
}

.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
 
  .searchTerm {
      
    width: 100%;
    border: 1px solid #00B4CC;
    border-right: none;
    padding: 7px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }


p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 7% 15%;
}
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 3rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}
.download-button{
    margin: 5% 3% 5% 0;
}

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}
.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
#features{
   position: relative;
    /*z-index: 1;*/
}
.features-text{
    font-size: 1.3rem;
}
.feature-box{
    
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
#testimonials{
    background-color: #ef8172;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;    
}

.testimonial-img{
    width: 12%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 100px;
}
.pricing-text{
    font-size: 3rem;
    line-height: 1.5;
}
.dog-name{
    font-size: 1.3rem;
}
.buttons{
    width: 100%;
}
.plan-info{
    
    padding: 3% 2%;
}

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    background-color: #fff;
}

.social-icon{
    margin: 20px 10px;
}
@media(max-width : 1028px){
    .title-img{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}

